@import url(./Fonst.css);
@import url(./responsive.css);
@import url(./variable.css);
@import url(./reset.css);
@import url(./defults.css);
@import url(./generalStyles.css);

/* header */
.sale-today__wrapper {
    padding: 2rem;

}

.sale-today__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.sale-todayt__header-right {
    display: flex;
    align-items: center;
}

.sale-today__header-notif {
    background-color: var(--gray-color);
    font-size: 1.3rem;
    margin-left: 3rem;
    padding: 0.8rem;
    border-radius: 0.5rem;

}

.sale-today__header-title {
    font-size: 4.5rem;
    color: var(--blue-color);
    font-weight: bolder;

}

.sale-today__header-search {
    box-shadow: var(--primary-shadow);
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.sale-today__header-search-inp {
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 350px;
    background-color: transparent;

}

.sale-today__header-search-icon {
    font-size: 1.7rem !important;
    padding: 1rem;
    transform: translateY();
}

.sale-today__header-search-inp::placeholder {
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--black-color);

}

.sale-today__header-left {}

.sale-today__header-left-numUser {
    padding: 0.5rem 1rem;

    font-size: 1.3rem;
    box-shadow: var(--primary-shadow);
    border-radius: 0.5rem;
    background-color: var(--gray-color);

}

.sale-today__body {}

.sale-today__body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}

.sale-today__body-header-title {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--blue-color);

}

.sale-today__body-header-view {
    font-size: 1.7rem;
    color: var(--blue-color);
    border-bottom: 1px solid var(--dark-color);
    font-weight: bolder;


}

.sale-today__body-list {
    margin-top: 2rem;
}

.sale-today__body-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--primary-shadow);
    padding: 2.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: var(--light-blue-color);
    margin-bottom: 3rem;

}

.sale-today__body-list-header-items:nth-child(1) {
    margin-right: 12rem;
}

.sale-today__body-list-header-items:nth-child(2) {
    margin-right: 10rem;
}

.sale-today__body-list-header-items:nth-child(3) {
    margin-left: 6rem;
}

.sale-today__body-list-header-items:nth-child(4) {
    margin-left: 3rem;
}

.sale-today__body-list-header-items {}

.sale-today__body-list-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    box-shadow: var(--primary-shadow);
    padding: 2rem 4.5rem;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 1.5rem;

}

.sale-today__body-list-img {
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 1rem;


}

.sale-today__body-list-info {
    display: flex;
    align-items: center;

}

.sale-today__body-list-name {
    margin-right: 2rem;

}

.sale-today__body-list-nameProduct,
.sale-today__body-list-codeProduct {
    font-weight: lighter;
}




