@import url(./Fonst.css);
@import url(./responsive.css);
@import url(./variable.css);
@import url(./reset.css);
@import url(./defults.css);
@import url(./generalStyles.css);

.order-report__wrraper{
    padding: 2rem ;

}

.order-report__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem ;
}
.order-report__header-right{

    display: flex;
    align-items: center;
}
.order-report__header-notif{
    background-color:var(--gray-color);
    font-size: 1.3rem ;
    margin-left: 3rem ;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.order-report__header-title{
    font-size: 4.5rem ;
    color: var(--blue-color);
    font-weight: bolder;
}

.order-reportt__header-left{

}
.order-report__header-left-numUser{
    padding: 0.5rem  1rem ;
   
    font-size: 1.3rem ;
box-shadow: var(--primary-shadow);
border-radius: 0.5rem  ;
background-color: var(--gray-color);
}

.order-report__sale-title{
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 3px solid var(--blue-color);
    display: inline-block;
    margin-bottom: 2rem ;
    padding-bottom: 0.5rem ;

}
.order-report__sale-price-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem  0 ;

}
.order-report__sale-price-right{

}

.order-report__sale-price-title{
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 3px solid var(--blue-color);
    display: inline-block;
    margin-bottom: 2rem ;
    padding-bottom: 0.5rem ;

}
.order-report__sale-price-left{
display: flex;
align-items: center;
justify-content: center;
}

.order-report__sale-price-date {
padding: 0.5rem  1rem    ;
width: 11rem;
text-align: center;
box-shadow: var(--primary-shadow);
margin:   0   1rem ;
border-radius: 0.5rem;
font-weight: bold;
font-size: 1.6rem ;

}

.active  {
background-color: var(--green-color);
color: white;
font-weight: lighter;
}

.order-report__sale-price-body {
    box-shadow: var(--primary-shadow);
   
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem   10rem;
    font-weight: bold;
    margin: 0 auto;
    max-width: 900px;

}

.order-report__sale-price-body-row1  , .order-report__sale-price-body-row2   ,  .order-report__sale-price-body-row3  {
display: flex;
align-items: center;
justify-content: space-between;
font-size: 1.7rem;

}
.order-report__sale-price-body-row1  , .order-report__sale-price-body-row3 {
    border-bottom: 1px solid #000;
}
.order-report__sale-price-body-item{
    padding: 1rem  0;
    
}
.order-report__sale-price-body-result{
    display: flex;
    justify-content: space-between;
}
.result {
    color: var(--blue-color);
}